<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Train self | All the technologies </title>
    <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">



</head>

<body>
    <h1>OpenSource Courses</h1>
    <div class="container">

        {% if user.is_authenticated %}
        <p>You are logged in</p>
        <p>Hey : {{ user.username }}, Howdy</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p>You are not logged in</p>
        <p>Please <a href="{% url 'login' %}">Login</a>&nbsp;here</p>

        {% endif %}
        {%block content%}

        {%endblock content%}
    </div>
</body>
</html>