<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learning django framework: contact us</title>
</head>
<body>
    {% extends 'nav.html' %}
    {% block content %}
        <h3>Contact us !!!</h3>
        <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
    {% endblock %}
</body>
</html>